[Unit]
Description=Door Managing serivce

[Service]
ExecStart=/usr/bin/python {{ rfid_tuer_ansible_install_path}}/main.py
WorkingDirectory=/usr/bin/python {{ rfid_tuer_ansible_install_path}}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
